.comming-soon{
    font-size: 60px;
    font-weight: 600;
    font-family: 'Poppins';
    padding: 140px 100px;
    background-color: white;
    width: fit-content;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}