.about-content {
    background-color: #ececec;
    height: fit-content;
    width: 100%;
    margin: 0;
}

.content-right-main {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.content-right-1 {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
}

.content-right-header-poster {
    width: 90%;
    margin: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border: #000 6px solid;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
    border-radius: 30px;

}

.content-right-header-poster-bullet {
    font-family: Neue Montreal;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    gap: 10px;
    box-sizing: border-box;
}

.content-right-header-poster-heading {
    line-height: 60px;
    font-weight: 500;
    font-size: 45px;
}

.quote-image {
    width: 6%;
}

.content-right-header-poster-para {
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

.content-right-header-poster-image {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 25px 25px 0;
}

.content-right-story {
    margin-top: 0px;
}

.content-right-story-quoted {
    font-family: Neue Montreal;
    font-size: 18px;
    font-weight: 500;
}

.content-right-story-para {
    margin-left: 30%;
    margin-right: 10%;
    font-family: Neue Montreal;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1.5px;
    font-size: 15px;
    font-weight: 400;
}

.content-right-story-para-2 {
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 10%;
    font-family: Neue Montreal;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1.5px;
    font-size: 15px;
    font-weight: 400;
}

.content-right-mystory-heading {
    font-family: Neue Montreal;
    font-size: 35px;
    font-weight: 500;
}

.story-img-div {
    margin-left: 10%;
    width: 60%;
}

.story-img {
    margin-top: 10%;
    margin-left: 0;
    width: 100%;
    border-radius: 70% 30% 70% 30%;
}

.about-story-img {
    margin-top: -125px;
    margin-left: 60%;
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.content-right-brief {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.content-right-brief-intro {
    font-size: 150px;
    font-weight: 500;
    font-family: philosopher;
}

.content-right-experience {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.content-right-experience-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content-right-experience-img {
    width: 40%;
}

.content-right-experience-header {
    font-family: Neue Montreal;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 40px;
}

.content-right-experience-para {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    font-weight: 300;
    border-top: #ccc 1px solid;
    position: relative;
}

.experience-item {
    position: relative;
}

.experience-text{
    padding: 2px 0 2px 0;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    font-family: Neue Montreal;
    font-size: 30px;
    font-weight: 350;
    letter-spacing: 1px;
    border-bottom: #ccc 1px solid;
    cursor: pointer;
    transition: letter-spacing 0.5s;
}

.experience-text p{
    color: #ccc;
    font-size: 15px;
    margin-top: 0;
}

.experience-text:hover{
    color: #ccc;
    letter-spacing: 4px;
}

.exptip {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
    transition: .2s;
    width: 250px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    font-size: 14px;
    background-color: #333233;
    color: white;
    top: calc(100% + 15px);
    padding: 20px;
    border-radius: 10px;
    font-family: Neue Montreal;
    letter-spacing: 1px;
}

.exptip::after{
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background-color: #333233;
    top: -7.5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border-radius: 3px 0px 5px 0px;
}

.exptip p:nth-child(1) {
    font-size: 30px;
    margin-bottom: -20px;
}

.exptip p:nth-child(2) {
    font-weight: 300;
}

.exptip p:nth-child(3) {
    margin-top: 5px;
    font-weight: 300;
}

.exptip p:nth-child(4) {
    font-weight: 300;
    opacity: .7;
}

.experience-text:hover+.exptip {
    opacity: 1;
    z-index: 9;
}

.content-right-getstarted {
    margin-top: 10px;
    border-radius: 30px;
    padding: 20px;
    background-color: black;
    color: #ccc;
    font-family: Neue Montreal;
    letter-spacing: 1px;
}