.categories{
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.category{
    cursor: pointer;
    opacity: .5;
}

.category-active{
    opacity: 1;
}
